body{
    background: #EEF9BF;
}
.disable-click{
    pointer-events: none;
}
.title{
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    line-height: 65px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 15px
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.face img{
    width: 100px;
    height: 100px;
}

.back-face {
    transform: rotateY(180deg);
}

.turn-back {
    transform: rotateY(0deg);
}

.turn-front {
    transform: rotateY(-180deg);
}

.time{
    font-size: 50px;
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}